<footer class="footer bg-dark text-white">

    <div class="container-custom d-flex justify-content-between align-items-center py-3">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="me-2 text-white text-decoration-none">
                <span>&copy; 2025 Victoria Laufer</span>
            </a>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex text-white">
            <li class="ms-3">
                <a class="text-white" href="https://www.instagram.com/dra.victorialaufer/">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-white" href="https://wa.me/5512987097380">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-white" href="mailto:victorialaufersaude@gmail.com">
                    <i class="bi bi-envelope"></i>
                </a>
            </li>
        </ul>

</footer>



<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>