<header class="header p-3 position-absolute start-0 top-0 end-0">
    <div class="d-flex justify-content-between align-items-center">
        <a href="/" class="text-decoration-none text-white fs-5 fw-bold">
            Victoria Laufer
        </a>

        <div>
            <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>
        </div>

    </div>
</header>

{% include navbar.html %}