<section class="hero">

    <img src="img/avatar.svg" alt="Avatar" class="img-fluid" id="hero-img" width="100%" height="100%" loading="lazy">

    <div class="h-100 container-custom position-relative" id="hero__content">
        <div class="d-flex h-100 align-items-center" id="hero__content-width">
            <div class="text-white" id="hero__content-text">
                <h1 class="fw-bold mb-4" id="hero__heading">Drª. Victória Laufer</h1>
                <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusantium. Officia totam, voluptatum quia itaque natus dolores.</p>
                <a href="#quemsoueu" class="mt2 btn btn-lg btn-outline-light" role="button">
                    Conheça Mais
                </a>
            </div>
        </div>
    </div>

    <a href="#quemsoueu" id="hero__scroll-btn">
        Conhecer <i class="bi bi-arrow-down"></i>
    </a>

</section>