<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand navbar-brand-logo" href="/"><img class="img-fluid" src="img/logovictoria.png" id="navbar-logo" alt="Logo da Dra. Victória Laufer"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#quemsoueu">Quem Sou Eu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#formacao">Locais de Atendimento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#locais">Serviços Oferecidos</a>
            </li>
        </ul>
    </div>
</nav>